
/*! HTML5 Boilerplate v7.1.0 | MIT License | https://html5boilerplate.com/ */

/* main.css 1.0.0 | MIT License | https://github.com/h5bp/main.css#readme */
/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

 
/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

   html {
    color: #222;
    font-size: 1em;
    line-height: 1.4;
}

/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * Vendor-prefixed and regular ::selection selectors cannot be combined:
 * https://stackoverflow.com/a/16982510/7133471
 *
 * Customize the background color to match your design.
 */

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */

audio,
canvas,
iframe,
img,
svg,
video {
    vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
    resize: vertical;
}

/* ==========================================================================
   Browser Upgrade Prompt
   ========================================================================== */

.browserupgrade {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}




 /* ==========================================================================
   Author's custom styles
   ========================================================================== */

*{ box-sizing: border-box}

body{
	max-height: 100%;
}


.container {
  display: flex;
	position: relative;
	height: 800px;
	
}

/*=================
what's stopping you h1
=====================*/
.container h1 {
	position: absolute;
	z-index: 10;
	margin: auto;
  font-size: 1.6em;
	color: #fff;
	top: 2.3em;
	left: 50%;
  transform: translate(-50%, -50%);
	
}


/* info icon*/
.container img{
	padding-top: 1.9em;
	padding-left: 1em;
	padding-right: 10em;
	padding-bottom: 1em;
}

.container img:hover{
	background-image: URL(/img/asset5.png);
	background-repeat: no-repeat;
	
	transition: 1s ease;
	padding: 1em;
}

/*=================
      		individual colums - colors
								=====================*/

.col-1 {	
	flex: 1;
	position: relative;
	background-color: #f8b300;
	margin: 0;
}

.col-2 {
	flex: 1;
	position: relative;
	background-color: #ff795c;
	margin: 0;
}
.col-3 {
	flex: 1;
	position: relative;
	background-color: #a7c9d3;
	margin: 0;	
}


/*====================
          numbers
                 ================*/
h2 {
	font-size: 1em;
	font-family: monospace;
}
/*====================================*/









/*@media (max-width: 400px) {
  .container,
  .col-1.col-2.col-3 {
		display: block;
  }
}
*/

.wrapper {
	border: 2px solid purple;
	margin: 0;
	position: absolute;
	bottom: 0;
	left:0;
	padding-left: 1em;
	padding-bottom: 2.8em;
	
	
	
}

.wrapper h3{
	font-size: 2em;

}


/*=================
learn more button
=====================*/
.col-1 h4 a{
	position: absolute;
	bottom: 4em;
	left: 1em;
	font-size: .75em;
	font-weight: 400;
	letter-spacing: .1em;
	font-family: sans-serif;
	text-transform: uppercase;
	color: #fff;
	width: 95px;
	border-bottom: 2px solid white; 
	padding-bottom: 3px;
	text-decoration: none;
	
	
}


/*img{
	display: block;
	width: 100%;
	position: absolute;
	bottom: 0
}*/


.content{
	position: absolute;
	top: 10%;
	left: 0%;
	padding-top: 20px; 
	padding-left: 10px;
	color: #000;
	font-family: monospace;
	font-size: 1.3em;
	white-space: wrap;
	overflow: hidden;
}





.col-1 .overlay{
	position: absolute;
	bottom: 0;
	left: 0;
	right: 0;
	background-color:#f8b300;
	width: 100%;
	height: 0;
	transition: .25s ease;
	overflow: hidden;
	
}

.col-2 .overlay{
	position: absolute;
	bottom: 0;
	left: 0;
	right: 0;
	background-color:#ff795c;
	width: 100%;
	height: 0;
	transition: .25s ease;
	overflow: hidden;
	
}

.col-3 .overlay{
	position: absolute;
	bottom: 0;
	left: 0;
	right: 0;
	background-color:#a7c9d3;
	width: 100%;
	height: 0;
	transition: .25s ease;
	overflow: hidden;
	
}

.wrapper{
	position: absolute;
	bottom: 50px;
}

.wrapper:hover .overlay{
	height: 190%;
}



 /* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Hide visually and from screen readers
 */

 .hidden {
  display: none !important;
}

/*
* Hide only visually, but have it available for screen readers:
* https://snook.ca/archives/html_and_css/hiding-content-for-accessibility
*
* 1. For long content, line feeds are not interpreted as spaces and small width
*    causes content to wrap 1 word per line:
*    https://medium.com/@jessebeach/beware-smushed-off-screen-accessible-text-5952a4c2cbfe
*/

.visuallyhidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
  white-space: nowrap; /* 1 */
}

/*
* Extends the .visuallyhidden class to allow the element
* to be focusable when navigated to via the keyboard:
* https://www.drupal.org/node/897638
*/

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  width: auto;
  white-space: inherit;
}

/*
* Hide visually and from screen readers, but maintain layout
*/

.invisible {
  visibility: hidden;
}

/*
* Clearfix: contain floats
*
* For modern browsers
* 1. The space content is one way to avoid an Opera bug when the
*    `contenteditable` attribute is included anywhere else in the document.
*    Otherwise it causes space to appear at the top and bottom of elements
*    that receive the `clearfix` class.
* 2. The use of `table` rather than `block` is only necessary if using
*    `:before` to contain the top-margins of child elements.
*/

.clearfix:before,
.clearfix:after {
  content: " "; /* 1 */
  display: table; /* 2 */
}

.clearfix:after {
  clear: both;
}

 
/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

   @media only screen and (min-width: 35em) {
    /* Style adjustments for viewports that meet the condition */
}

@media print,
       (-webkit-min-device-pixel-ratio: 1.25),
       (min-resolution: 1.25dppx),
       (min-resolution: 120dpi) {
    /* Style adjustments for high resolution devices */
}

 
/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   https://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */

   @media print {
    *,
    *:before,
    *:after {
        background: transparent !important;
        color: #000 !important; /* Black prints faster */
        -webkit-box-shadow: none !important;
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    /*
     * Don't show links that are fragment identifiers,
     * or use the `javascript:` pseudo protocol
     */

    a[href^="#"]:after,
    a[href^="javascript:"]:after {
        content: "";
    }

    pre {
        white-space: pre-wrap !important;
    }
    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    /*
     * Printing Tables:
     * http://css-discuss.incutio.com/wiki/Printing_Tables
     */

    thead {
        display: table-header-group;
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}


